################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Umbraco7140/App_Data/Logs
/Umbraco7140/App_Data/NuGetBackup
/Umbraco7140/App_Data/TEMP
/Umbraco7140/bin
/Umbraco7140/obj/Debug
/Umbraco7140/Umbraco
/Umbraco7140/Umbraco_Client
/Umbraco7132/.vs
/Umbraco7132/bin
/Umbraco7132/obj/Debug
/Umbraco7132/packages
/Umbraco7132/Umbraco7132/bin
/Umbraco7132/Umbraco7132/obj/Debug
/Umbraco7132/Umbraco7132/Umbraco
/Umbraco7132/Umbraco7132/Umbraco_Client
/Umbraco7132/Umbraco7132/App_Data/cache
/Umbraco811/.vs
/Umbraco811/packages
/Umbraco811/Umbraco811/App_Data/Logs
/Umbraco811/Umbraco811/App_Data/TEMP
/Umbraco811/Umbraco811/bin
/Umbraco811/Umbraco811/obj/Debug
/Umbraco811/Umbraco811/Umbraco
